include versioneer.py
include propkatraj/_version.py
include propkatraj/tests/datafiles/*pdb
include propkatraj/tests/datafiles/*pka
include propkatraj/tests/datafiles/*xtc
include propaktraj/tests/datafiles/*gro
